{% assign projectsnew = site.data.data.projectsnew %}
{% if projectsnew %}
<section class="section projectsnew-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    {{ projectsnew.title }}
  </h2>

  {% for projectsnew in projectsnew.info %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ projectsnew.role }}</h3>
        <div class="time">{{ projectsnew.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ projectsnew.company }}</div>

    </div><!--//meta-->

    {% if projectsnew.details %}
    <div class="details">
      {{ projectsnew.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

